In [1]:
lst1=[2,4,3,6,1,8,3,10,16,22]
lst2=['22',33,23,'14',8,'12',3,6]
lst3=[33,23,[2,4,3,6,1,8],8,3,6,[3,10,16,22],16]

In [3]:
tot=0

for data in lst1:
    tot=tot+data
    #tot += data
    
print('lst1의 합계=',tot)
print('lst1의 합계=',sum(lst1))

lst1의 합계= 75
lst1의 합계= 75

In [4]:
lst2

['22', 33, 23, '14', 8, '12', 3, 6]

In [5]:
tot=0

for data in lst2:
    tot=tot+int(data)
    
print('lst2의 합계=',tot)

lst2의 합계= 121

In [6]:
tot=0

for data in lst2:
    if type(data)==int:
        tot=tot+data
    else:
        tot=tot+int(data)

        
print('lst2의 합계=',tot)

lst2의 합계= 121

In [7]:
lst3

[33, 23, [2, 4, 3, 6, 1, 8], 8, 3, 6, [3, 10, 16, 22], 16]

In [8]:
for i in lst3:
    print(i)

33
23
[2, 4, 3, 6, 1, 8]
8
3
6
[3, 10, 16, 22]
16

In [10]:
for i in range(0, len(lst3)):
    print(lst3[i])

33
23
[2, 4, 3, 6, 1, 8]
8
3
6
[3, 10, 16, 22]
16

In [11]:
for i in lst3:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'list'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'list'>
<class 'int'>

In [12]:
tot=0

for i in lst3:
    if type(i) == int:
        tot=tot+i
    else:
        for j in i:
            tot=tot+ij

print('합계=',tot)

합계= 164

In [19]:
tot=0

for i in range(0, len(lst3)):
    if type(lst3[i]) == int:
        tot=tot+lst3[i]
    else:
        for j in range(0, len(lst3[i])):
            tot=tot+lst3[i][j]
               
print('합계=',tot)

합계= 164

In [13]:
lst3

[33, 23, [2, 4, 3, 6, 1, 8], 8, 3, 6, [3, 10, 16, 22], 16]

In [14]:
lst4=[]

for i in lst3:
    if type(i) == int:
        lst4.append(i)
    else:
        for j in i:
            lst4.append(j)

lst4

[33, 23, 2, 4, 3, 6, 1, 8, 8, 3, 6, 3, 10, 16, 22, 16]

In [15]:
aa=[1,2,3]
bb=[4,5,6]
aa+bb

[1, 2, 3, 4, 5, 6]

In [17]:
lst4=[]

for i in lst3:
    if type(i) == int:
        lst4=lst4+[i]
        #lst4.append(i)
    else:
        lst4=lst4+i

lst4

[33, 23, 2, 4, 3, 6, 1, 8, 8, 3, 6, 3, 10, 16, 22, 16]

In [23]:
lst3

[33, 23, [2, 4, 3, 6, 1, 8], 8, 3, 6, [3, 10, 16, 22], 16]

In [28]:
tot=0

for i in lst3:
    print('i type=',type(i))
    if type(i) == int:
        print('i=',i)
        tot=tot+i
    else:
        for j in range(0, len(i)):
            print('j=',j)
            tot=tot+i[j]
               
print('합계=',tot)

i type= <class 'int'>
i= 33
i type= <class 'int'>
i= 23
i type= <class 'list'>
j= 0
j= 1
j= 2
j= 3
j= 4
j= 5
i type= <class 'int'>
i= 8
i type= <class 'int'>
i= 3
i type= <class 'int'>
i= 6
i type= <class 'list'>
j= 0
j= 1
j= 2
j= 3
i type= <class 'int'>
i= 16
합계= 164